#player-api-intro, .btn.embedcode {
	margin-bottom: 15px;
}

textarea {
	width: 100%;
	min-height: 200px;
}

.jumbotron > div {
	margin-bottom: 15px;
}
	.jumbotron > div > iframe {
		display: block;
		margin: 0 auto 0 auto;
	}