<!DOCTYPE html>
<html>
<head>
	<title>bannerify.js</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="player.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!--<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
	<script src="prezi_player.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="bannerify-creator.js" type="text/javascript"></script>
	<script src="bannerify.js" type="text/javascript"></script>
</head>
<body class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">bannerify.js</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#introduction">Introduction</a></li>
					<li><a href="#how-it-works">How it works</a></li>
					<li><a href="#bannerify-creator">bannerify-creator</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div id="banner-bannerify-example"></div>
		<p class="text-center">
			<a class="btn btn-primary" onclick="replayBannerifyExample();">Replay</a>
			<a class="btn btn-default" onclick="loadBannerifyExample();">Reload</a>
		</p>
	</div>
	
	<h2 id="introduction">Introduction</h2>
	<p>With bannerify.js it is possible to create a timed presentation from an existing prezi and embed it into a website. From an other approach: with bannerify.js, prezi becomes a banner or slideshow creating tool. <b>Create professional content with professional tools.</b></p>
	
	<hr/>
	
	<div class="row">
		<div class="col-md-4">
			<blockquote>
				<p>I will create lyrics slideshows to my music videos, connect them and play at once. I'll use prezi, bannerify.js and Google YouTube API to do that.</p>
				<footer>Musician, hobby developer</footer>
			</blockquote>
		</div>
		<div class="col-md-4">
			<blockquote>
				<p>I'mma goin to create a banner, showin' all kind of meat from beef to goose!</p>
				<footer>The Butcher</footer>
			</blockquote>
		</div>
		<div class="col-md-4">
			<blockquote>
				<p>Just buy a big screen TV, put it in your show-window and play your slideshow. It is the modern way of advertising!</p>
				<footer>A shop owner</footer>
			</blockquote>
		</div>
	</div>
	
	<hr/>
	
	<p><b>A bannerify-creator tool is also available that makes it super easy to create banners!</b> Only 3 steps to go:
		<ol>
			<li>Create a prezi as usual</li>
			<li>Set the order of the steps using the "Edit path" tool</li>
			<li>Use the Bannerify creator to set the timing and to create the embed code!</li>
		</ol>
	</p>
	
	<br/><hr/><br/>
	
	<h2 id="how-it-works">How it works</h2>
	<p>Bannerify.js uses the Prezi Player API to embed and control a prezi. It is written in JavaScript and it is as simple and easy to use as the pure Prezi Player API.</p>
	<div class="alert alert-warning" role="alert"><b>Important!</b> Please be aware that the status of the bannerify.js and the Prezi Player API is both alpha.</div>
	<p>You have to specify a JSON object (an array of objects) to set the delay times on each step and animation step. A step is a frame or view where the prezi zooms to, and an animated step is when an object or objects fade.</p>
	
	<p>Fortunatelly, you don't have to write the JSON object yourselft, there is a bannerify-creator tool that creates an embed code or the JSON object.</p>
	
	<hr/>
	
	<h4>JSON object describing the steps of a possible banner</h4>
	<script src="https://gist.github.com/alaplap/e723f3086d53be9497e4.js"></script>
	
	<h4>Create new Bannerify object</h4>
	<script src="https://gist.github.com/alaplap/833d8c7f7ca26511852e.js"></script>
	
	<h4>Accessing the actual PreziPlayer object</h4>
	<script src="https://gist.github.com/alaplap/28b58d8fed426154e51f.js"></script>
	
	<br/><hr/><br/>
	
	<div id="control" ng-app="bannerify" ng-controller="BannerCreationController as creation">
		<h2 id="bannerify-creator">bannerify-creator</h2>
		<div class="row">
			
			<div class="col-md-9">
				<div class="form-group">
					<label for="i-id">Prezi ID:</label>
					<input id="i-id" type="text" class="form-control" ng-model="id" required >
				</div>
				<div class="form-group">
					<label for="i-width">Width:</label>
					<input id="i-width" type="text" class="form-control" ng-model="width" required >
				</div>
				<div class="form-group">
					<label for="i-height">Height:</label>
					<input id="i-height" type="text" class="form-control" ng-model="height" required >
				</div>
				<div class="form-group">
					<label for="i-delay">Default delay (ms):</label>
					<input id="i-delay" type="number" min="0" step="100" class="form-control" ng-model="delay" required >
				</div>
				<div class="form-group">
					<label>One iteration only: <input type="checkbox" ng-model="options.once"></label>
				</div>
				<button class="btn btn-primary" ng-click="setup()">Start setup</button>
				
				<hr>
				
				<div id="player-api-intro"></div>
				
				<div class="form-group" ng-if="steps.length">
					<a class="btn btn-default embedcode" type="button" ng-click="createEmbedCode()">Create embed code</a>
					<a class="btn btn-default embedcode" type="button" ng-click="createJSON()">Create JSON object</a>
					<br>
					<textarea ng-if="embedCode" ng-model="embedCode" readonly></textarea>
				</div>
			</div>
			
			<div class="col-md-3" id="info">
				<div class="form-group" ng-if="steps.length">
					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-default" type="button" ng-click="stepTo(-1)">Previous step</a>
						<a class="btn btn-default" type="button" ng-click="stepTo(1)">Next step</a>
					</div>
					<br>
					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-success" type="button" ng-click="play()">Play</a>
						<a class="btn btn-danger" type="button" ng-click="stop()">Stop</a>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-animate="'step'" ng-repeat="step in steps">
						<h4 class="list-group-item-heading">{{$index + 1}}. step</h4>
						<p class="list-group-item-text">
							<label>Delay:</label>
							<input type="number" min="0" step="100" ng-model="step.delay">
						</p>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="animation in step.anim">
								<h5 class="list-group-item-heading">{{$index + 1}}. animation step</h5>
								<p class="list-group-item-text">
									<label>Delay:</label>
									<input type="number" min="0" step="100" ng-model="animation.delay">
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="alert alert-warning" role="alert"><b>Important!</b> The delay on each step must be higher than the time of the "moving animation" to the step.</div>
	</div>
<script>
	function loadBannerifyExample() {
		bannerifyExample = new Bannerify(
			'banner-bannerify-example',	//id of div to embed into
			{ 
				preziId: "85kjc7gd5nfc",	//id of prezi, visible in the url when you load the prezi on Prezi.com 
				width: 800,
				height: 450,
				once: true
			},
			[{"delay":12000,"anim":[]},{"delay":500,"anim":[{"delay":1000},{"delay":1000},{"delay":1000}]},{"delay":1000,"anim":[{"delay":300},{"delay":300},{"delay":300},{"delay":300},{"delay":300},{"delay":300},{"delay":1000}]},{"delay":2000,"anim":[]},{"delay":1000,"anim":[{"delay":2000},{"delay":500},{"delay":1000}]},{"delay":1000,"anim":[{"delay":2000},{"delay":3000},{"delay":4000}]},{"delay":2000,"anim":[{"delay":1000},{"delay":1000},{"delay":2000}]}]
		);
	}
	
	function replayBannerifyExample() {
		bannerifyExample.stop();
		bannerifyExample.play();
	}
	
	var bannerifyExample;
	loadBannerifyExample();
</script>
</body>
</html> 