<!DOCTYPE html>
<html>
<head>
	<title>bannerify.js</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!--<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
	<script src="http://prezi.github.io/prezi-player/lib/PreziPlayer/prezi_player.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="bannerify-creator.js" type="text/javascript"></script>
	<script src="bannerify.js" type="text/javascript"></script>
</head>
<body class="container">
	<div id="control" ng-app="bannerify" ng-controller="BannerCreationController as creation">
		<h2 id="bannerify-creator">bannerify-creator</h2>
		<div class="row">
			
			<div class="col-md-9">
				<div class="form-group">
					<label for="i-id">Prezi ID:</label>
					<input id="i-id" type="text" class="form-control" ng-model="id" required >
				</div>
				<div class="form-group">
					<label for="i-width">Width:</label>
					<input id="i-width" type="text" class="form-control" ng-model="width" required >
				</div>
				<div class="form-group">
					<label for="i-height">Height:</label>
					<input id="i-height" type="text" class="form-control" ng-model="height" required >
				</div>
				<div class="form-group">
					<label for="i-delay">Default delay (ms):</label>
					<input id="i-delay" type="number" min="0" step="100" class="form-control" ng-model="delay" required >
				</div>
				<div class="form-group">
					<label>One iteration only: <input type="checkbox" ng-model="options.once"></label>
				</div>
				<button class="btn btn-primary" ng-click="setup()">Start setup</button>
				
				<hr>
				
				<div id="player-api-intro"></div>
				
				<div class="form-group" ng-if="steps.length">
					<a class="btn btn-default embedcode" type="button" ng-click="createEmbedCode()">Create embed code</a>
					<a class="btn btn-default embedcode" type="button" ng-click="createJSON()">Create JSON object</a>
					<br>
					<textarea ng-if="embedCode" ng-model="embedCode" readonly></textarea>
				</div>
			</div>
			
			<div class="col-md-3" id="info">
				<div class="form-group" ng-if="steps.length">
					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-default" type="button" ng-click="stepTo(-1)">Previous step</a>
						<a class="btn btn-default" type="button" ng-click="stepTo(1)">Next step</a>
					</div>
					<br>
					<div class="btn-group btn-group-justified" role="group">
						<a class="btn btn-success" type="button" ng-click="play()">Play</a>
						<a class="btn btn-danger" type="button" ng-click="stop()">Stop</a>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-animate="'step'" ng-repeat="step in steps">
						<h4 class="list-group-item-heading">{{$index + 1}}. step</h4>
						<p class="list-group-item-text">
							<label>Delay:</label>
							<input type="number" min="0" step="100" ng-model="step.delay">
						</p>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="animation in step.anim">
								<h5 class="list-group-item-heading">{{$index + 1}}. animation step</h5>
								<p class="list-group-item-text">
									<label>Delay:</label>
									<input type="number" min="0" step="100" ng-model="animation.delay">
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="alert alert-warning" role="alert"><b>Important!</b> Please be aware that the status of the bannerify.js and the Prezi Player API is both alpha.</div>
		<div class="alert alert-warning" role="alert"><b>Important!</b> The delay on each step must be higher than the time of the "moving animation" to the step.</div>
		<div class="alert alert-warning" role="alert">It is highly recommended to add <a href="http://prezi.github.io/prezi-player/getit.html">Prezi Player API</a> and <a href="https://github.com/alaplap/bannerify">bannerify.js</a> to your web page. Don't use the raw file from github, download it instead.</div>
	</div>
</body>
</html> 